
@model IEnumerable<MemberShipApp.Models.DTO.MemberYearlyContribution>
@{
    ViewData["Title"] = "Index";
    var error = ViewBag.Error;
}


<table class="blueTable">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>

            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Country Name
            </th>
            <th>
                Region Name
            </th>
            <th>
                State Name
            </th>

            <th>
                Yearly Contribution
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyContribution)
            </td>

            <td>
                <a class="btn btn-info active" role="button" aria-pressed="true" onclick="contribute(@item.MemberID)">Contribute</a>
                <a class="btn btn-primary active" role="button" aria-pressed="true" onclick="edit(@item.MemberID)">Edit</a>
                <a class="btn btn-success active" role="button" aria-pressed="true" onclick="details(@item.MemberID)">Details</a>
                <a class="btn btn-danger active" role="button" aria-pressed="true" asp-action="Delete" asp-route-id="@item.MemberID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>